.container
  = form_with(model: @profile, url: service_path, method: 'put', local: true) do |f|
    .field
      %div
        = f.label :url, 'my service url', class: 'label'
      %div
        = f.url_field :url, class: 'form'
    = f.submit 'POST', class: 'btn'