.container
  .profile_top
    .name
      = current_user.email
    .job
      %p job
      = @profile.job
    .introduction
      %p introduction 
    = @profile.introduction
  = render 'commons/language', languages: @languages