.container
  .article_top
    .user_name
      = @language.user.account_name
    .article_post
      - if @language.user === current_user
        = link_to '+POST', new_language_article_path(@language)
  .articles
    - @articles.each do |article|
      = render 'commons/article', article: article