.container
  .language_top
    %div= link_to 'POST', new_language_path
    %div= @current_user.email
    %div= link_to 'profile', profile_path
  = render 'commons/language', languages: @languages
        