.container
  .article_followings
    - @languages.each do |language|
      - language.articles.each do |article|
        = render partial: 'timeline', locals:{article: article}
  .article_all.hidden
    - @articles.each do |article|
      = render partial: 'timeline', locals:{article: article}
= javascript_pack_tag 'timeline'
