@import 'user';
@import 'language';
@import 'article';
@import 'profile';
@import 'comment';
@import 'follow';
@import 'flash';
body{
    margin: 0;
}
.header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: whitesmoke;
    border-bottom: ridge;
    padding: 10px 0;
    &_right, &_left, &_sub, .timeline_sub, &_item{
        padding: 10px 20px;
        &:hover{
            opacity: 0.7;
        }
    }
    &_back{
        background-color: darkgray;
        color: white;
        margin: 0 3px;
        padding: 0 3px;
    }
}
a{
    text-decoration: none;
    color: black;
    &:hover{
        opacity: 0.7;
    }
}
.container{
    padding: 100px 10px 25px 10px;
}
.hidden{
    display: none;
}
.header_left{
    display: flex;
}
.btn{
    width: 40%;
    border-radius: 10px;
}
.search{
    margin-bottom: 30px;
    text-align: center;
}
@media screen and (min-width: 768px){
    .header{
        width: 100%;
        position: fixed;
        font-size: 25px;
        padding: 15px 0;
        &_right, &_left, &_sub, .timeline_sub, &_item{
            padding: 20px 30px;
        }
        &_back{
            margin: 0 10px;
            padding: 0 10px;
        }
    }
    .container{
        padding: 150px 75px 75px 75px;
    }
    .field{
        padding: 30px 0;
    }
    .lebel{
       font-size: 10px; 
    }
    .form{
        width: 50%;
        height: 70px;
    }
    .btn{
        width: 40%;
        padding: 20px;
        border-radius: 30px;
    }
    .search{
        #search{
            width: 50%;
        }
        input{
            padding: 10px 0;
        }
    }
}