@import 'user';
@import 'language';
@import 'article';
@import 'profile';
@import 'comment';
@import 'follow';

a{
    text-decoration: none;
    color: black;
}
a:hover{
    opacity: 0.7;
}
.container{
    padding: 10px;
}
.hidden{
    display: none;
}