.article{
    background-color: lightgrey;
    margin: 20px 0;
    padding: 10px;
    &_item{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    &_error{
        margin: 10px 0;
    }
    &_top{
        display: flex;
        justify-content: space-between;
    }
    &_detail{
        p{
            color: lightslategray;
            border-bottom: ridge;
        }
        .answer{
            text-align: center;
            color: white;
            background-color: black;
            width: 30%;
            border-radius: 20px;
            margin: 40px auto;
            &:hover{
                opacity: 0.7;
            }
        }
        .article_name{
            text-align: center;
        }
        img{
            width: 100%;
        }
    }
    &_name{
        text-align: center;
    }
}
@media screen and (min-width: 768px){
    .article{
        margin: 40px 0;
        padding: 10px;
        &_item{
            padding: 20px 0;
        }
        &_error{
            padding: 20px 0;
        }
        &_detail{
            .answer{
                width: 30%;
                border-radius: 20px;
                margin: 40px auto;
                padding: 10px;
            }
        }
    }
}