.comment{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    background-color: darkgrey;
    padding: 10px 0;
    width: 30%;
    &_form{
        margin: 20px auto;
        display: flex;
        justify-content: center;
    }
    &_post{
        display: flex;
        justify-content: center;
        margin: 5px auto;
        background-color: darkgrey;
        width: 35%;
        color: white;
    }
    .comment_view{
        text-align: center;
        font-size: 20px;
    }
    &_view{
        text-align: center;
        font-size: 20px;
        margin: 30px 0;
    }
}
.comments_container{
    p{
        line-height: 0.5;
    }
}