.comment{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    background-color: darkgrey;
    padding: 10px 0;
    width: 30%;
    &_form{
        margin: 20px auto;
        display: flex;
        justify-content: center;
    }
    &_post{
        display: flex;
        justify-content: center;
        margin: 5px auto;
        background-color: darkgrey;
        width: 35%;
        color: white;
    }
    &_view{
        text-align: center;
        font-size: 20px;
        margin: 30px 0;
    }
}
.comments_container{
    p{
        line-height: 0.5;
    }
}
@media screen and (min-width: 768px){
    .comment{
        margin: 35px auto;
        padding: 10px 0;
        width: 30%;
        &_form{
            margin: 40px auto;
            width: 50%;
        }
        &_post{
            margin: 10px auto;
            width: 35%;
            padding: 10px;
        }
        &_view{
            font-size: 20px;
            margin: 30px 0;
        }
    }
    .comments_container{
        p{
            line-height: 1;
        }
    }
}