.follow_title{
    text-align: center;
    font-size: 20px;
}
.follow_item{
    text-align: center;
    margin: 20px 0;
}
.follow_nav{
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
    text-align: center;
}