.field{
    padding: 20px 0;
}
.btn{
    width: 40%;
    border-radius: 10px;
}
.language_nav{
    padding: 10px;
    border: solid;
    margin: 20px 0;
}
.language_item{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.language_top{
    display: flex;
    justify-content: space-between;
}
.name{
    text-align: center;
}
.profile_top{
    p{
        color: lightslategray;
        border-bottom: ridge;
    }
}