.name{
    text-align: center;
}
.profile_item{
    p{
        color: lightslategray;
        border-bottom: ridge;
    }
}
.profile_top{
    display: flex;
    justify-content: space-between;
}
.profile_name{
    display: flex;
    justify-content: center;
    img{
        width: 10%;
        margin: 0 10px;
    }
}
.error_all{
    text-align: center;
    margin: 20px;
}
@media screen and (min-width: 768px){
    .profile_name{
        padding: 20px 0;
        img{
            width: 10%;
            margin: 0 15px;
        }
    }
    .profile_top{
        padding: 20px 0;
    }
    .error_all{
        padding: 20px;
        margin: 20px;
    }
}