.name{
    text-align: center;
}
.profile_item{
    p{
        color: lightslategray;
        border-bottom: ridge;
    }
}
.profile_top{
    display: flex;
    justify-content: space-between;
}
.profile_name{
    display: flex;
    justify-content: center;
    img{
        width: 10%;
        margin: 0 10px;
    }
}
.error_all{
    text-align: center;
    margin: 20px;
}